<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creature detail</title>
{% extends "base_bootstrap.html" %}
{% block content %}
<h1>{{character.CharacterName}}</h1>
</head>

<body>
<p>Player Name: {{character.playerName}}</p>
<p>Character Name: {{character.CharacterName}}</p>
<p>Experience: {{character.xp}}</p>
<p>Rep: {{character.rep}}</p>
<p>Virtue: {{character.virtue}}</p>
<p>Spells: </p>
<p>
<ul>
  {% for spell in spells %}
    <li>
        <a href="{% url 'ros:spell_detail' spell.id %}">{{ spell.spell }}</a>
    </li>
  {% endfor %}
</ul>
</p>
</body>
{% endblock %}
</html>